body {
  background-color: red;
}

#syllabus {
  display: flex;
  flex-direction: column;
}

#home::before {
  content: "";
  position: absolute;
  background: url(../img/bkgrd.jpg) no-repeat center center/cover;
  height: 820px;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

#home {
  display: flex;
  flex-direction: column;
  padding: 7px 29px;
  height: 446px;
  justify-content: center;
  align-items: center;
}
#head ul li {
  list-style: none;
  font-size: 18px;
}
.log a {
  font-size: 1.1em;
}
